    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-10 offset-1">
                <h1>Contact</h1>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                    Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                    commodo.</p>
                <div class="bg-light p-4 rounded offset-1">
                    <form>
                        <div class="form-group row">
                            <label for="email" class="col-sm-3 col-form-label font-weight-bold text-right"><strong>Your
                                E-mail</strong></label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="email" placeholder="Your email">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="message" class="col-sm-3 col-form-label font-weight-bold text-right"><strong>Your
                                message</strong></label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="message" rows="4"
                                    placeholder="Please enter your message here..."></textarea>
                            </div>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
