  <div class="container-fluid">
    <nav class="col-12 navbar navbar-dark bg-dark text-secondary d-flex justify-content-left align-content-center">
      <ul class="nav p-2">
        <li class="nav-item fs-4 ms-1 me-4" href="#">Start Bootstrap
        </li>
        <li class="nav-item fs-5 ms-3 me-3" href="#">About
        </li>
        <li class="nav-item fs-5 ms-3 me-3" href="#">Services
        </li>
        <li class="nav-item fs-5 ms-3 me-3" href="#">Portfolio
        </li>
        <li class="nav-item fs-5 ms-3 me-3" href="#">Contact
        </li>
      </ul>
