<div class="position-relative">
    <img src="https://raw.githubusercontent.com/4GeeksAcademy/Best-Team-exercise-collaborative-html-website/master/website/assets/img/bg.jpg"
        alt="Skyscraper" class="w-100">
    <div class="position-absolute top-50 start-50 translate-middle text-center w-100">
        <h1 style="font-size: 100px;" class="mt-0 p-0 bg-light fw-bold">One Page Wonder</h1>
        <h2 style="font-size: 50px;" class="p-0 bg-light fw-semibold">Will Knock Your Socks Off</h2>
    </div>
</div>